.speech{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font:icon;
    font-size: medium;
    color: black;
}
.song{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font:italic;
    font-size: medium;
    color: black;
}
.name{
    font:bolder;
    font-size: medium;
    color: black;
}
.direction{
    font:icon;
    font-size: medium;
    color: black;
    background-color: lightgray;
}

.direction:hover{
    color:deeppink;
    background-color:aquamarine;

}
.CHO{
    color:brown;
}
.SOLO{
    color:burlywood;
}
.DIA{
    color: darkmagenta;
}
.AP{
    color: aqua;
}
.MER{
    color:green;
}
table,th,td{
    border: 1px salmon;
    color:black;
    text-align: center;
    padding: 10px;
    margin:auto;
    
}
tr:nth-child(even) {background-color: #f2f2f2;}